.main-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    height: calc(100% - 5.25rem);
    padding: 1rem;
    background-color: var(--box);
    margin-top: 4.5rem ;
    margin-left: calc(18.5rem);
    margin-right: calc(18.5rem);
    overflow-y: auto;
    border-radius: 1rem;
    transition: 0.3s;
    
}
.main-content.expanded {
    margin-left: 0.75rem;
}

