.main-content {
    position: fixed;
    top: 7rem ;
    left: 18rem;
    right: 18rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100% - 7.5rem);
    transition: 0.3s;
    padding: 1rem;
    background-color: var(--box);
    opacity: 0.9;
    gap: 0.5rem;
    border-radius: 0 0 0.75rem 0.75rem;
    overflow-y: auto;
}
.main-content.expanded {
    left: 0.5rem;
}