#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start ;
}
.project-menu {
    position: relative;    
    overflow: hidden;
    margin: auto;
}
.project-menu ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    overflow-x: auto;
}
.project-menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    cursor: pointer;

}
#project-menu-indicator {
    position: absolute;
    left: 0;
    bottom: -0.2rem;
    height: 0.4rem;
    border-radius: 0.2rem 0.2rem 0 0;
    background-color: var(--primary);
    transition: left 0.3s ease, width 0.3s ease;
}
#project-menu-indicator::after {
    content: "";
    position:absolute ;
    top: -2rem;
    width: 100%;
    height: 1.5rem;
    background-color: var(--primary);
    opacity: 30%;
    border-radius: 0.25rem;
}
#project-cards {
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 3.5rem);
    overflow-y: auto;
    border-radius: 1rem;
    padding-top: 0.5rem;
}



