.section {
    display: none;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: scale(0.95);
    height: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
}

.section.active {
    display: flex;
    opacity: 1;
    transform: scale(1);
}